{% if minlen is defined %}
minlen = {{ minlen }}
{% endif %}

{%if dcredit is defined %}
dcredit = {{ dcredit }}
{% endif %}

{%if ucredit is defined %}
ucredit = {{ ucredit }}
{% endif %}

{%if lcredit is defined %}
lcredit = {{ lcredit }}
{% endif %}

{%if ocredit is defined %}
ocredit = {{ ocredit }}
{% endif %}

{%if minclass is defined %}
minclass = {{ minclass }}
{% endif %}

{%if maxrepeat is defined %}
maxrepeat = {{ maxrepeat }}
{% endif %}

{%if maxclassrepeat is defined %}
maxclassrepeat = {{ maxclassrepeat }}
{% endif %}

{%if retry is defined %}
retry = {{ retry }}
{% endif %}

{%if enforce_for_root is defined %}
enforce_for_root
{% endif %}






